# Summer of Code - Artificial Intelligence
## Week 01<br>Day 03: Python Fundamentals
![](Figures/w1d3.png)

In this labwork, we will cover the essential concepts of Python **programming**.

In [2]:
print("Hello world")

Hello world

## Introduction to Python

Python is a high-level, interpreted programming language. It is popular for the following reasons:

- Simple and readable syntax
- Large standard library
- Extensive third-party packages
- Strong community support
- Applications in AI, ML, Data Science, Web Development.

## Setting up Development Environment

Visit the official Python website [python.org](https://www.python.org/) to download the latest version of Python.
Open the downloaded installer to install Python on your system. While Installing make sure to select **Add Python to System Path**.
Following are some popular IDEs for Python:

- Visual Studio Code
- PyCharm
- Jupyter Notebook

## Verifying Python Installation
To verify that Python is installed correctly, open a terminal or command prompt and type:
```bash
python --version
```
You should see the installed Python version displayed.

## VSCode and Jupyter Notebook
VSCode is a popular code editor that supports Python development. Jupyter Notebook is an interactive environment that allows you run indivisual code cells and see the output immediately.

## Basic Syntax

In [3]:
print("Hello world")

Hello world

## Values and Expressions
Values are pieces of data like numbers or text. Expressions combine values to produce new values.

In [ ]:
26 # Number, literal
26.5
"Ahmad" # same 'Ahmad'

26 + 10
26 > 19

26

## Statements and Comments
- Statements are instructions that Python can execute
- Statements must be seperated by newline or ;
- Comments help explain your code
- Python supports single-line and multi-line comments

In [5]:
# This is a single line comment
"""
This is a multiline comment.
it can span multiple line
"""
print("hello") # this is another comment
print("world")

hello
world

## Data Types
Data types define the kind of data that we can work with. In Python, common data types include:
- Numbers
- Booleans
- Strings

In [ ]:
10 # integer

10

In [ ]:
True # Boolean
False

False

In [40]:
"Hello" # string

'Hello'

## Variables
- Variables are locations in memory used to store data.
- Variables in Python are dynamically typed, meaning you don't need to declare their type explicitly.

In [11]:
age = 25 # this is an integer variable
print(age)

25

In [14]:
age = 27 # its value can be changed
print(age)

27

In [18]:
age = "Twenty Five"
age

'Twenty Five'

In [42]:
# More than one variables can be initialized in a single line
age, salary = 50, 30000
print(age)
print(salary)

50
30000

# Identifiers and Keywords
- Identifiers are names used to identify variables, functions, classes, etc.
- Keywords are reserved words in Python that have special meanings and cannot be used as identifiers.

In [41]:
# To see a list of keywords used in python
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Rules for Naming Variables
- Keywords cannot be used as variable name
- Variable name cannot start with a digit
- Variable name cannot contain special characters except underscore (`_`)
- Whitespaces are not allowed within a variable name

# Operations
- Python supports various operations, including arithmetic, comparison, and logical operations.
- Operations are performed using operators.
- These operators receive one or more values (operands) and produce a new value.

## Arithmetic Operations
Arithmetic operations refer to mathematical calculations.
- Addition (`+`)
- Subtraction (`-`)
- Multiplication (`*`)
- Division (`/`)
- Floor Division (`//`): It discards values after decimal point
- Modulus (`%`): Returns remainder of a division
- Exponentiation (`**`)

In [20]:
10 + 20 # expression, evalutes to a single value

30

In [ ]:
first_number = 20 # Assignment operator
second_number = 30
first_number + second_number

50

In [ ]:
first_number / second_number

0.6666666666666666

In [28]:
second_number // first_number # integer division

1

In [30]:
# Modulus operator: returns the remainder
second_number % first_number

10

In [ ]:
# Results of an expression can be stored in a variable
a, b = 2, 8

result = a**b
result

256

## Operator Precedence
which operation to perform first?
- **
- /, *
- +, -

Note: you can use `()` to change the precedence

## Comparison Operations
Comparison operations compare two values.
- Equal to (`==`)
- Not equal to (`!=`)
- Greater than (`>`)
- Less than (`<`)
- Greater than or equal to (`>=`)
- Less than or equal to (`<=`)

In [47]:
val1 = 12
val2 = 14

is_greater = val1 == val2 # comparison expression will evaluate boolean value

print(is_greater)

False

In [49]:
# You can check the data type of a variable
age = 25
type(age)

int

In [50]:
age = 25.4
type(age)

float

In [51]:
age = "Twenty Five"
type(age)

str

In [52]:
type(is_greater)

bool

## Logical Operations
Logical operations combine boolean values.
- And (`and`)
- Or (`or`)

In [57]:
# short circuit execution
age = 18
citizen = "Pakistani"
is_adult = age >= 18
is_pakistani = citizen == "Pakistani"

is_adult and is_pakistani

True

# User Input
- Python provides the `input()` function to take input from the user.
- The input is always returned as a string.
- The syntax of the input is:
```python
variable_name = input("Prompt message: ")

In [59]:
age = input("Enter you age:")

In [62]:
age

'25'

In [63]:
type(age)

str

## Type Casting
Type casting is the process of converting a variable from one data type to another.

In [66]:
age = int('25')
type(age)

int

In [68]:
age = float(age)
print(type(age))
print(age)

<class 'float'>
25.0

In [71]:
type(age)

float

In [72]:
number = 10
print(type(number))

<class 'int'>

In [73]:
number_str = str(number)
type(number_str)

str

In [74]:
number_str

'10'

## Exercises
1. Write a Python program to take two numbers as input from the user and print their sum, difference, product, and quotient.
2. Create a program for converting temperature from Celsius to Fahrenheit. The formula to convert Celsius to Fahrenheit is: F = (C * 9/5) + 32.
3. Convert a given number of minutes into hours and minutes. For example, 130 minutes should be converted to 2 hours and 10 minutes.
4. Find Area of a rectangle given its width and height.

## Solutions

In [20]:
# Write a Python program to take two numbers as input from the user
# and print their sum, difference, product, and quotient.

first_number = input("Enter first number: ")
second_number = input("Enter second number: ")

print(first_number)
print(second_number)

10.5
12.4

In [23]:
print(type(first_number))
print(type(second_number))

<class 'str'>
<class 'str'>

In [25]:
first_number = float(first_number)
second_number = float(second_number)

In [26]:
summ = first_number + second_number
difference = first_number - second_number
product = first_number * second_number
quotient = first_number / second_number

print(summ)
print(difference)
print(product)
print(quotient)

22.9
-1.9000000000000004
130.20000000000002
0.8467741935483871

In [15]:
# Convert a given number of minutes into hours and minutes.
# For example, 130 minutes should be converted to 2 hours and 10 minutes.
minutes = 130

hours = minutes // 60
hours

2

In [16]:
remaining_minutes = minutes % 60
remaining_minutes

10

In [19]:
print("Hours: " + str(hours))
print("Minutes: " + str(remaining_minutes))

Hours: 2
Minutes: 10