# Summer of Code - Artificial Intelligence
## Week 01<br>Day 03: Python Fundamentals
![](Figures/w1d3.png)

In this labwork, we will cover the essential concepts of Python **programming**.

In [3]:
print("Hello world")

Hello world

## Introduction to Python

Python is a high-level, interpreted programming language. It is popular for the following reasons:

- Simple and readable syntax
- Large standard library
- Extensive third-party packages
- Strong community support
- Applications in AI, ML, Data Science, Web Development.

## Setting up Development Environment

Visit the official Python website [python.org](https://www.python.org/) to download the latest version of Python.
Open the downloaded installer to install Python on your system. While Installing make sure to select **Add Python to System Path**.
Following are some popular IDEs for Python:

- Visual Studio Code
- PyCharm
- Jupyter Notebook

## Verifying Python Installation
To verify that Python is installed correctly, open a terminal or command prompt and type:
```bash
python --version
```
You should see the installed Python version displayed.

In [5]:
!python --version

Python 3.13.7

## VSCode and Jupyter Notebook
VSCode is a popular code editor that supports Python development. Jupyter Notebook is an interactive environment that allows you run indivisual code cells and see the output immediately.

## Basic Syntax

In [ ]:
print("Hello world")

## Values and Expressions
Values are pieces of data like numbers or text. Expressions combine values to produce new values.

In [ ]:
12 # number (int)

12

In [ ]:
5.4 # number (float)

5.4

In [ ]:
"this is text" # string

'this is text'

In [ ]:
"a"

In [ ]:
12 + 5

17

## Statements and Comments
- Statements are instructions that Python can execute
- Statements must be seperated by newline or ;
- Comments help explain your code
- Python supports single-line and multi-line comments

In [ ]:
# This is a single line comment
# this is another

"""
This is a multiline comment.
it can span multiple line
"""

print("Hello") # statement
print("World")
print("Welcome")

## Data Types
Data types define the kind of data that we can work with. In Python, common data types include:
- Numbers
- Booleans
- Strings

In [ ]:
10 # integer

In [ ]:
True # Boolean
False

In [ ]:
"Hello" # string

## Variables
- Variables are locations in memory used to store data.
- Variables in Python are dynamically typed, meaning you don't need to declare their type explicitly.

In [18]:
# identifier/label assignment_operator (=) value/expression/etc
age = 25 # this is an integer variable


print(age)

25

In [19]:
type(age)

int

In [20]:
age = 27 # its value can be changed
print(age)

27

### Python is dynamically typed language

In [ ]:
age = "Twenty Five" # it is also called initialization
age

'Twenty Five'

In [22]:
type(age)

str

In [23]:
# More than one variables can be initialized in a single line
age, salary = 50, 30000
print(age)
print(salary)

50
30000

In [ ]:
my_age = 24

# Identifiers and Keywords
- Identifiers are names used to identify variables, functions, classes, etc.
- Keywords are reserved words in Python that have special meanings and cannot be used as identifiers.

In [24]:
# To see a list of keywords used in python
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Rules for Naming Variables
- Keywords cannot be used as variable name
- Variable name cannot start with a digit
- Variable name cannot contain special characters except underscore (`_`)
- Whitespaces are not allowed within a variable name

# Operations
- Python supports various operations, including arithmetic, comparison, and logical operations.
- Operations are performed using operators.
- These operators receive one or more values (operands) and produce a new value.

## Arithmetic Operations
Arithmetic operations refer to mathematical calculations.
- Addition (`+`)
- Subtraction (`-`)
- Multiplication (`*`)
- Division (`/`)
- Integer Division (`//`): It discards values after decimal point
- Modulus (`%`): Returns remainder of a division
- Exponentiation (`**`)

In [25]:
10 + 20 # expression, evalutes to a single value

30

In [26]:
first_number = 20 # Assignment operator
second_number = 30
first_number + second_number

50

In [27]:
first_number / second_number

0.6666666666666666

In [30]:
second_number // first_number # integer division

1

In [31]:
# Modulus operator: returns the remainder
second_number % first_number

10

In [32]:
# Results of an expression can be stored in a variable
a, b = 2, 8

result = a**b
result

256

## Operator Precedence
which operation to perform first?
- **
- /, * (left to right)
- +, (left to right)

Note: you can use `()` to change the precedence

## Comparison Operations
Comparison operations compare two values.
- Equal to (`==`)
- Not equal to (`!=`)
- Greater than (`>`)
- Less than (`<`)
- Greater than or equal to (`>=`)
- Less than or equal to (`<=`)

In [36]:
val1 = 12
val2 = 14

is_greater = val1 == val2 # comparison expression will evaluate boolean value

print(is_greater)

False

In [37]:
type(is_greater)

bool

In [38]:
# You can check the data type of a variable
age = 25
type(age)

int

In [39]:
age = 25.4
type(age)

float

In [40]:
age = "Twenty Five"
type(age)

str

In [ ]:
type(is_greater)

## Logical Operations
Logical operations combine boolean values.
- And (`and`)
- Or (`or`)
- Not (`not`)

In [46]:
False and False # True when both values are True

False

In [48]:
False or False # True when either value is true

False

In [49]:
# short circuit execution
age = 18
citizen = "Pakistani"

is_adult = age >= 18
is_pakistani = citizen == "Pakistani"

is_adult and is_pakistani

True

# User Input
- Python provides the `input()` function to take input from the user.
- The input is always returned as a string.
- The syntax of the input is:
```python
variable_name = input("Prompt message: ")

In [51]:
age = input("Enter you age:")

In [52]:
age

'25'

In [53]:
type(age)

str

In [56]:
25 == 25

True

In [57]:
"25" == 25

False

## Type Casting
Type casting is the process of converting a variable from one data type to another.
`int()`
`float()`
`str()`
`bool()`

In [62]:
age = int('25')
type(age)

int

In [63]:
age = float(age)
print(type(age))
print(age)

<class 'float'>
25.0

In [64]:
type(age)

float

In [65]:
number = 10
print(type(number))

<class 'int'>

In [66]:
number_str = str(number)
type(number_str)

str

In [68]:
age = "15d"
int(age)

ValueError: invalid literal for int() with base 10: '15d'

## Exercises
1. Write a Python program to take two numbers as input from the user and print their sum, difference, product, and quotient.
2. Create a program for converting temperature from Celsius to Fahrenheit. The formula to convert Celsius to Fahrenheit is: F = (C * 9/5) + 32.
3. Convert a given number of minutes into hours and minutes. For example, 130 minutes should be converted to 2 hours and 10 minutes.
4. Find Area of a rectangle given its width and height.

## Solutions

In [ ]:
# Write a Python program to take two numbers as input from the user
# and print their sum, difference, product, and quotient.

first_number = input("Enter first number: ")
second_number = input("Enter second number: ")

print(first_number)
print(second_number)

In [ ]:
print(type(first_number))
print(type(second_number))

In [ ]:
first_number = float(first_number)
second_number = float(second_number)

In [ ]:
summ = first_number + second_number
difference = first_number - second_number
product = first_number * second_number
quotient = first_number / second_number

print(summ)
print(difference)
print(product)
print(quotient)

In [ ]:
# Convert a given number of minutes into hours and minutes.
# For example, 130 minutes should be converted to 2 hours and 10 minutes.
minutes = 130

hours = minutes // 60
hours

In [ ]:
remaining_minutes = minutes % 60
remaining_minutes

In [ ]:
print("Hours: " + str(hours))
print("Minutes: " + str(remaining_minutes))