# Summer of Code - Artificial Intelligence
## Week 01<br>Day 04: Data Structures
![](Figures/w1d4.png)

In this lecture, we'll explore the fundamental data structures in Python:
- Lists
- Tuples
- Sets
- Dictionaries

## What is a Data Structure?
A data structure is a way of organizing and storing data so that it can be accessed and modified efficiently. Data structures are essential for managing large amounts of data and for implementing algorithms.

## Strings
- Strings are sequences of characters enclosed in single or double quotes.
- Strings are immutable, meaning they cannot be changed after they are created.

### Operations on Strings
- Concatenation: Joining two or more strings together using the `+` operator.
- Repetition: Repeating a string multiple times using the `*` operator.

In [8]:
text = "Programming is fun"
text

'Programming is fun'

In [9]:
len(text)

18

In [11]:
text[5]

'a'

In [15]:
first_name = "Wajahat"
last_name = "Ullah"

first_name + " " + last_name

'Wajahat Ullah'

In [19]:
# Repition
'abc' * 5

'abcabcabcabcabc'

### Introducing the `.` Operator
The `.` operator is used to access methods and attributes of objects in Python.

In [23]:
text_raw = "    this is text     "

text_cleaned = text_raw.strip()
text_cleaned

'this is text'

In [43]:
updated_text = text_cleaned.replace('text', 'document')
updated_text

'this is document'

In [50]:
name = "Wajahat Ullah"
print("Welcome," + " " + name)

Welcome, Wajahat Ullah

## Formatted Strings
also called f-strings

In [25]:



name = "Waqas"
age = 25



message = f"My name is {name}. I am {age} years old."

print(message)

My name is Waqas. I am 25 years old.

## Lists
- Lists are ordered, mutable collections of items.
- They can store elements of different types and allow duplicate values.


### When to use Lists
- When you need an ordered collection of items.
- When you need to modify the collection (add, remove, or change items).

In [1]:
days = ['sunday', 'monday', 'tuesday']
days

['sunday', 'monday', 'tuesday']

In [2]:
type(days)

list

In [3]:
len(days)

3

In [4]:
days[0]

'sunday'

In [5]:
days[-1]

'tuesday'

### Slicing
```
[start_index:stop_index]
```
access items in the list (list_name), starting from (start_index) to stop_index (but item at the stop_index is not included)

```
[start:stop:step]
```

In [41]:
days = ["sunday", "monday", "tuesday", "Wednesday", "Thursday", "Friday"]
days[::-1]

['Friday', 'Thursday', 'Wednesday', 'tuesday', 'monday', 'sunday']

In [ ]:
days.append("Wednesday")

In [77]:
days

['sunday', 'monday', 'tuesday', 'Wednesday']

In [78]:
# remove item from the end
days.pop()

'Wednesday'

In [79]:
days

['sunday', 'monday', 'tuesday']

In [80]:
days.pop(0)
days

['monday', 'tuesday']

In [81]:
days.insert(0, "Sunday")
days

['Sunday', 'monday', 'tuesday']

In [82]:
days.remove('monday')
days

['Sunday', 'tuesday']

In [86]:
days.append('sunday')
days

['Sunday', 'tuesday', 'sunday']

In [89]:
days[0] = 'sunday'
days

['sunday', 'tuesday', 'sunday']

In [90]:
days.remove('sunday')
days

['tuesday', 'sunday']

## Tuples
- Tuples are ordered, immutable collections.
- Once created, their elements cannot be changed.

### When to Use Tuples
- Use tuples when you want to ensure that the data remains constant.
- They are often used for fixed collections of items, such as coordinates or RGB values.

In [42]:
color = (127, 10, 127)
color = (123, 10, 123)


12 in color

False

## Sets
- Sets are unordered collections of unique elements.
- They are mutable but do not allow duplicates.
- Useful for membership tests and removing duplicates.

### When to Use Sets?
- When you need to store unique items.
- When you need to perform mathematical set operations like union, intersection, and difference.

In [6]:
natural_numbers = {1, 2, 3, 3, 4}
type(natural_numbers)

set

In [7]:
natural_numbers

{1, 2, 3, 4}

In [108]:
numbers = [1, 2, 3, 4, 5, 5, 4, 3, 2, 1]
uniques_numbers = set(numbers)
uniques_numbers

{1, 2, 3, 4, 5}

In [111]:
len(uniques_numbers)

5

In [118]:
5 not in uniques_numbers

False

In [123]:
a = {1, 2, 3}
b = {3, 4, 5}

a | b

{1, 2, 3, 4, 5}

## Dictionary
```python
dictionary_variable = {
  key : value,
  key2 : value
}
```

In [56]:
person = {
  'name' : "Wajahat",
  'age' : 24,
  'Height': 5,
  'is_muslim': False,
  'marks': [20, 30, 20, 40]
}

type(person)

dict

In [44]:
person

{'name': 'Wajahat',
 'age': 24,
 'Height': 5,
 'is_muslim': False,
 'marks': [20, 30, 20, 40]}

In [47]:
# Access elements
person['age']

24

In [51]:
# get keys of the dictionary
person.keys()

dict_keys(['name', 'age', 'Height', 'is_muslim', 'marks'])

In [52]:
# get values in the dictionary
person.values()

dict_values(['Wajahat', 24, 5, False, [20, 30, 20, 40]])

In [53]:
# get (key, value) as tuple
person.items()

dict_items([('name', 'Wajahat'), ('age', 24), ('Height', 5), ('is_muslim', False), ('marks', [20, 30, 20, 40])])

In [57]:
name = person.pop('name')
name

'Wajahat'

In [58]:
person

{'age': 24, 'Height': 5, 'is_muslim': False, 'marks': [20, 30, 20, 40]}

## Practice Exercises

- Concatenate two strings and print the result.
- Replace all occurrences of a specific word in a string with another word using the `replace()` method.
- Create a list of numbers from 1 to 10. Use slicing to create a new list that contains only the odd numbers.
- Given a tuple of names, use tuple indexing to print the first name in uppercase.
- Create a set from a list with duplicate values and print the set.
- Write a dictionary to store the marks of three subjects and calculate the average by directly accessing the values.
- Given two sets, use set methods to find their union and intersection.