# Summer of Code - Artificial Intelligence
## Week 01
### Day 04: Data Structures

In this lecture, we'll explore the fundamental **data structures** in Python:
- Lists
- Tuples
- Sets
- Dictionaries

# What is a Data Structure?
A data structure is a way of organizing and storing data so that it can be accessed and modified efficiently. Data structures are essential for managing large amounts of data and for implementing algorithms.

# Data Structures in Python

## Strings
- Strings are sequences of characters enclosed in single or double quotes.
- Strings are immutable, meaning they cannot be changed after they are created.

### Operations on Strings
- Concatenation: Joining two or more strings together using the `+` operator.
- Repetition: Repeating a string multiple times using the `*` operator.

In [2]:
text = "Programming is fun"
text

'Programming is fun'

In [4]:
len(text)

18

In [8]:
# index notation
text[5]

'a'

In [9]:
first_name = "Wajahat"
last_name = "Ullah"

first_name + last_name

'WajahatUllah'

In [10]:


first_name + " " + last_name

'Wajahat Ullah'

In [11]:
# Repition
'abc' * 5

'abcabcabcabcabc'

### Introducing the `.` Operator
The `.` operator is used to access methods and attributes of objects in Python.

In [14]:
text_raw = "    this is text     "
print(len(text_raw))

text_cleaned = text_raw.strip()
print(len(text_cleaned))
text_cleaned

21
12

'this is text'

In [15]:
updated_text = text_cleaned.replace('text', 'document')
updated_text

'this is document'

In [16]:
name = "Wajahat Ullah"
print("Welcome," + " " + name)

Welcome, Wajahat Ullah

## Formatted Strings
also called f-strings

In [19]:
name = "Waqas"
age = 25

# message = "My name is " + name + ". I am " + str(age) + " years old."

message = f"My name is {name}. I am {age} years old."

print(message)

My name is Waqas. I am 25 years old.

## Lists
- Lists are ordered, mutable collections of items.
- They can store elements of different types and allow duplicate values.


### When to use Lists
- When you need an ordered collection of items.
- When you need to modify the collection (add, remove, or change items).

In [ ]:
# text = "qakistan"
# text[0] = 'p'

TypeError: 'str' object does not support item assignment

In [20]:
days = ['sunday', 'monday', 'tuesday']
days

['sunday', 'monday', 'tuesday']

In [21]:
type(days)

list

In [22]:
len(days)

3

In [25]:
days[0]

'sunday'

In [26]:
days[0] = 'Saturday'
days

['Saturday', 'monday', 'tuesday']

In [27]:
days[-1]

'tuesday'

### Slicing
```
[start_index:stop_index]
```
access items in the list (list_name), starting from (start_index) to stop_index (but item at the stop_index is not included)

```
[start:stop:step]
```

In [46]:
days = ["sunday", "monday", "tuesday", "Wednesday", "Thursday", "Friday"]
days[0:6:2]

['sunday', 'tuesday', 'Thursday']

In [47]:
days[:2]

['sunday', 'monday']

In [48]:
days

['sunday', 'monday', 'tuesday', 'Wednesday', 'Thursday', 'Friday']

In [49]:
days.append("saturday")
days

['sunday', 'monday', 'tuesday', 'Wednesday', 'Thursday', 'Friday', 'saturday']

In [50]:
days

['sunday', 'monday', 'tuesday', 'Wednesday', 'Thursday', 'Friday', 'saturday']

In [51]:
# remove item from the end
days.pop()
days

['sunday', 'monday', 'tuesday', 'Wednesday', 'Thursday', 'Friday']

In [52]:
days.pop(0)
days

['monday', 'tuesday', 'Wednesday', 'Thursday', 'Friday']

In [53]:
days.insert(-2, "sunday")
days

['monday', 'tuesday', 'Wednesday', 'sunday', 'Thursday', 'Friday']

In [54]:
days.insert(0, "sunday")
days

['sunday', 'monday', 'tuesday', 'Wednesday', 'sunday', 'Thursday', 'Friday']

In [55]:
days.remove('monday')
days

['sunday', 'tuesday', 'Wednesday', 'sunday', 'Thursday', 'Friday']

In [56]:
days.append('sunday')
days

['sunday', 'tuesday', 'Wednesday', 'sunday', 'Thursday', 'Friday', 'sunday']

In [57]:
days.remove('sunday')
days

['tuesday', 'Wednesday', 'sunday', 'Thursday', 'Friday', 'sunday']

In [60]:
numbers = [12, 90, 45, 67, 1, 50]

numbers.sort()

In [61]:
numbers

[1, 12, 45, 50, 67, 90]

In [62]:
numbers = [12, 90, 45, 67, 1, 50]

numbers_sorted = sorted(numbers)
numbers_sorted

[1, 12, 45, 50, 67, 90]

In [63]:
numbers

[12, 90, 45, 67, 1, 50]

## Tuples
- Tuples are ordered, immutable collections.
- Once created, their elements cannot be changed.

### When to Use Tuples
- Use tuples when you want to ensure that the data remains constant.
- They are often used for fixed collections of items, such as coordinates or RGB values.

In [ ]:
color = (127, 10, 127)
color = (123, 10, 123)


12 in color

## Sets
- Sets are unordered collections of unique elements.
- They are mutable but do not allow duplicates.
- Useful for membership tests and removing duplicates.

### When to Use Sets?
- When you need to store unique items.
- When you need to perform mathematical set operations like union, intersection, and difference.

In [ ]:
natural_numbers = {1, 2, 3, 3, 4}
type(natural_numbers)

In [ ]:
natural_numbers

In [ ]:
numbers = [1, 2, 3, 4, 5, 5, 4, 3, 2, 1]
uniques_numbers = set(numbers)
uniques_numbers

In [ ]:
len(uniques_numbers)

In [ ]:
5 not in uniques_numbers

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

a | b

## Dictionary
```python
dictionary_variable = {
  key : value,
  key2 : value
}
```

In [ ]:
person = {
  'name' : "Wajahat",
  'age' : 24,
  'Height': 5,
  'is_muslim': False,
  'marks': [20, 30, 20, 40]
}

type(person)

In [ ]:
person

In [ ]:
# Access elements
person['age']

In [ ]:
# get keys of the dictionary
person.keys()

In [ ]:
# get values in the dictionary
person.values()

In [ ]:
# get (key, value) as tuple
person.items()

In [ ]:
name = person.pop('name')
name

In [ ]:
person

## Practice Exercises

- Concatenate two strings and print the result.
- Replace all occurrences of a specific word in a string with another word using the `replace()` method.
- Create a list of numbers from 1 to 10. Use slicing to create a new list that contains only the odd numbers.
- Given a tuple of names, use tuple indexing to print the first name in uppercase.
- Create a set from a list with duplicate values and print the set.
- Write a dictionary to store the marks of three subjects and calculate the average by directly accessing the values.
- Given two sets, use set methods to find their union and intersection.